@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.profile img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border: 1px solid white;
}
.profile {
    padding-top: 40px;
    padding-bottom: 20px;
}

.name {
    font-size: 2em;
    color: white;
    font-weight: bold;
}
.position {
    font-size: 1em;
    color: rgb(180, 180, 180);
}
.name, .position {
    margin: 5px; 
    padding: 0;
}

button {
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin: 8px;
    font-weight: bold;
    font-size: 0.9em;
    background-color: whitesmoke;
}
.dropdown-btn {
    margin-top: 20px;
    background-color: rgba(77, 177, 214, 1);
}
.dropdown-btn:hover {
    margin-top: 20px;
    background-color: rgb(50, 152, 189);
}
.bi-chevron-down{
    margin-left: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 0; 
    left: 0;
    background-color: whitesmoke;
    width: 100%; 
    z-index: 0;
    border-radius: 8px;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
}
.enter-btn{
    width: 80%;
    background-color: rgba(77, 177, 214, 1);
}
.close-btn {
    font-size: 1.5em;
    display: flex;
    justify-self: left;
    cursor: pointer;
}
.servers {
    border: 1px solid black;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
}